/*
****************************************
    navbar
****************************************
*/
.bground-dark {
	background-color: #183661 !important;
}

.navbar {
	width: 100vw;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.navbar .nav-wrapper {
	padding-inline: 20vw;
}
@media (max-width: 992px) {
	.navbar .nav-wrapper {
		padding-inline: 10vw;
	}
}
.navbar .nav-wrapper .brand {
	height: 56px;
	width: 80px;
	z-index: 2;
	box-shadow: 0px 33px 25px rgba(0, 0, 0, 0.2);
}
.navbar .nav-wrapper .brand img:hover {
	animation: navbarLogo 350ms linear forwards;
}

@keyframes navbarLogo {
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.25);
	}
}
.navbar .nav-wrapper .navbar-wrapper-toggle {
	align-self: baseline;
  
}
.navbar .nav-wrapper .navbar-collapse {
	justify-content: right;
  
}
.navbar .nav-wrapper .navbar-collapse .navbar-nav {
	display: flex;
	align-items: center;
  
}
.navbar .nav-wrapper .navbar-collapse .navbar-nav .line-animation {
	position: relative;
  color: #ced4da !important;
}
.navbar .nav-wrapper .navbar-collapse .navbar-nav .line-animation:hover {
	animation: navbarMenu linear forwards;
	transition: color 300ms linear;
	color: #f8f9fa !important;
}
.navbar .nav-wrapper .navbar-collapse .navbar-nav .line-animation:hover::before {
	width: 100%;
}
.navbar .nav-wrapper .navbar-collapse .navbar-nav .line-animation::before {
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: '';
	background: #fdda00;
	height: 2px;
	width: 0%;
	transition: width 300ms linear;
}
