.quienes__somos {
	margin-top: 10vh;
}
.quienes__somos .description {
	margin-top: 5vh;
	margin-bottom: 10vh;
}
.description article {
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.quienes__somos p {
	font-weight: 400;
}
.quienes__somos h2 {
	color: #13a4dd;
	font-weight: 900;
}
.quienes__somos hr {
	border-top: 2px solid #13a4dd;
}
.quienes_somos_img {
	max-height: 30vh;
}
